.dawnButton, .dawnButtonSecondary{
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
     border-radius: 9999px;

    font-size: .7rem;
}
.dawnButton:hover , .dawnButtonSecondary:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    transition: all 0.3s ease;      
    cursor: pointer;
}

.dawnButtonSecondary{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}
.dawnButtonSecondary:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}