.panel{
    z-index: 1000;
    color-scheme: dark;
    background-color: var(--background-color);
    color: var(--text-color);
    
    /* padding: 2vw ; */

    display: flex;
    flex-direction: row;
    width: clamp(30vw, 20%, 50vw);

}
.sideIconBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;

/* neeed color dynamic */
    color: black;
    background-color: var(--text-color);
    height: 100vh;
    width: 2vw;
}
.sideContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.heading{
    color: var(--text-color);
    font-size: 3rem;
    padding-left: 2vw;
    margin-bottom: 1vh;
    margin-top: 0;
    border-bottom: 2px solid var(--text-color);
}
.modelList{
    display: grid;
     justify-content: space-evenly;
     row-gap: 2vh;
    grid-template-columns: auto auto; 
    overflow-y: auto;
}
.modelCard{
    min-width: 12vw;
    aspect-ratio: 1;
    background-color: #77381b;
    color: #e9e0e0;
    font-size: clamp(24px, 4vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}